@font-face {
    font-family: 'ralewayregular';
    font-weight: normal;
    font-style: normal;

    src: url('raleway-regular-webfont.woff2') format('woff2'), url('raleway-regular-webfont.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
     border: green solid 1px;
}

body {
    font-family: 'ralewayregular', sans-serif;
    font-size: 10px;
}

.container {
    /*Odniesienie dla pozycjonowanych absolutnie buttonów strzałek*/
    position: relative;

     max-width: 1060px;
    /*max-width: 760px;*/
    margin: auto;
}

/*CleanFix - granica działania floatów*/
.container:after, .container:before {
    display: table;
    clear: both;
    content: " ";
}

.head {
    width: 100%;
    background-color: black;
}

header {
    color: white;
}

header .logo {
    float: left;
    padding: 5px 0;
}

header .logo h1 {
    font-size: 0.9rem;
    font-weight: 300;
}

header .logo span {
    color: #27c7ab;
    font-weight: 900;
}

.nav_header {
    float: right;
}

.mainMenu li {
    /*Pozwala manipulować pozycją subMenu*/
    position: relative;
    /*Ustawia menu poziomo*/
    display: inline-block;
}

.mainMenu li a {
    /*Pozwala definiować padding pionowy*/
    display: block;
    padding: 5px 15px;

    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.subMenu {
    /*Manipulacja pozycją subMenu*/
    position: absolute;
    /*Niweluje problem "zachodzenia" pod spód subMenu pod wyświetlane absolutnie dalsze elementy*/
    z-index: 99999;
    /*Pozycja tuż pod mainMenu z odstępem na wskaźnik*/
    top: calc(100% + 10px);
    left: 0;

    /*Domyślny stan ukryty przed kliknięciem*/
    display: none;
    background-color: black;
}

.triangle {
    /*Manupulacja pozycją trójkąta względem subMenu*/
    position: absolute;
    top: -20px;
    left: 35%;

    /*Istnieją wszystkie bordery, ale tylko dolny jest widoczny w postaci trójkąta*/
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid black;
}

/*Wyświetla subMenu znajdujące się tuż pod klikniętym tagiem "a" (nie chodzi o zagnieżdżenie, tylko kolejność w kodzie)*/
.hasChildren a:focus+.subMenu {
    display: block;
}


.slider {
   /* Użycie opcji absolute/relativr w sliderze zakrywa nasze subMenu (stojące nieco wyżej na stronie). Żeby je odkryć trzeba nadać mu wyższy z-indeks. Np. 99999*/
    position: relative;

    background: linear-gradient( white 60%, #BFBFBF);
}

article {
    float: left;

    text-align: center;
}

.next, .prev {
    /*Manipulujemy względem conteinera relative. Elementy z float wjeżdżają pod spód absolute.*/
    position: absolute;
    top: calc(50% - 25px);

    color: #27c7ab;
    /*Typ button ma wiele predefiniowanych elementów do neutrlaizacji np. boarder*/
    border: none;
    background-color: transparent;

    font-size: 5rem;;
    font-weight: 300;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.slider_img {
  width: 50%;
  padding: 60px 0 0 0;
}

.slider_txt {
    width: 50%;
    padding: 80px 140px 0 0;
}

.slider_img img {
    width: 100%;
}

.slider h1 {
    padding: 40px 0 40px 0;

    font-size: 2.5rem;
    font-weight: 300;
}

.slider p {
  font-size: 0.9rem;
  line-height: 1.5em;
  color: dimgrey;
}

.slider span {
    color: #27c7ab;

    font-weight: 900;
}

.button {
    position: relative;

    width: 200px;
    height: 40px;
    /*T nie da się paddingiem*/
    margin-top: 20px;

    border-radius: 5px;
    background-color: #27c7ab;
}

.button a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;

    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-decoration: none;

    color: white;

    font-size: 1rem;
    font-weight: 400;
}

.content article {
    width: 33.3333%;
    padding: 15px;
}

.content img {
    width: 100%;
}
