@import "../fonts/fonts.css"; //
//
$color_1: white;
$color_2: #27c7ab;
$color_3: #BFBFBF;
$color_4: dimgrey;
$color_5: #A7A7A7;
$color_6: #DBDBDB;
$color_7: #E8E8E8;
$color_8: #E66717;
$color_9: #696969;

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'raleway', sans-serif;
  font-size: 10px;
}

.container {
  position: relative;
  max-width: 1060px;
  margin: auto;
}

/*ClearFix - limits for sections' float */
.container:after,
.container:before {
  display: table;
  clear: both;
  content: " ";
}

.head {
  width: 100%;
  background-color: black;
}

header {
  color: $color_1;
}

header .logo {
  float: left;
  padding: 5px 0;
}

header .logo h1 {
  font-size: 0.9rem;
  font-weight: 300;
}

header .logo span {
  color: $color_2;
  font-weight: 900;
}

.nav_header {
  float: right;
}
//
// Zadanie 1 - Menu wysuwane

.mainMenu li {
  position: relative;
  display: inline-block;
}

.mainMenu li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: $color_1;
  font-size: 0.9rem;
}

.subMenu {
  position: absolute;
  z-index: 99999;
  top: calc(100% + 10px);
  left: 0;
  display: none;
  background-color: black;
}

.triangle {
  position: absolute;
  top: -20px;
  left: 35%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}
.hasChildren a:focus+.subMenu {
  display: block;
}

.slider {
  position: relative;
  background: linear-gradient( $color_1 60%, $color_3);
}

article {
  float: left;
  text-align: center;
}

.next,
.prev {
  position: absolute;
  top: calc(50% - 25px);
  color: $color_2;
  border: none;
  background-color: transparent;
  font-size: 5rem;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slider_img {
  width: 50%;
  padding: 60px 0 0;
}

.slider_txt {
  width: 50%;
  padding: 80px 140px 0 0;
}

.slider_img img {
  width: 100%;
}

.slider h1 {
  padding: 40px 0;
  font-size: 2.5rem;
  font-weight: 300;
}

.slider p {
  color: $color_4;
  font-size: 0.9rem;
  line-height: 1.5em;
}

.slider span {
  color: $color_2;
  font-weight: 900;
}

.button {
  position: relative;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: $color_2;
}

.button a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  text-decoration: none;
  color: $color_1;
  font-size: 1rem;
  font-weight: 400;
}

.content article {
  position: relative;
  width: 33.3333%;
  padding: 10px 10px 50px;
  text-align: left;
}

.content img {
  width: 100%;
}

.content h3 {
  position: absolute;
  width: calc(100% - 20px);
  padding: 15px 0 25px 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}

.content_img h3 {
  bottom: 65px;
}
//
// Zadanie 2 Ukrycie banneru - Metoda I - CSS hover

.content_img:nth-child(1) {
  &:hover h3 {
    display: none;
  }
}

.content h3:before {
  position: absolute;
  bottom: 15px;
  left: 8px;
  /* top: 0; */
  /* right: 0; */
  width: 150px;
  height: 8px;
  margin: auto;
  content: "";
  background-color: $color_2;
}

.content_txt p {
  padding: 10px;
  color: $color_4;
  font-size: 0.9rem;
  line-height: 1.5em;
}

.content_txt h3+p {
  padding: 60px 0 0 10px;
}

.prices {
  background-color: $color_1;
}

.cennik {
  padding: 30px 0 50px;
  font-size: 1.6rem;
  font-weight: 300;
}

.cennik:before {
  position: absolute;
  top: 65px;
  width: 33.3333%;
  height: 8px;
  margin: auto;
  content: "";
  background-color: $color_2;
}

.cennik:after,
.cennik:before {
  display: table;
  clear: both;
  content: " ";
}

.price_plan {
  position: relative;
  float: left;
  width: 33.3333%;
  padding: 10px 10px 60px;
  text-align: center;
  color: $color_5;
  font-size: 1.4rem;
}

.border {
  border: solid $color_5 3px;
  background-color: $color_1;
}

.checked .border {
  border: solid $color_2 3px;
  background-color: $color_2;
}

.circle_out {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translateX(-50%);
  border: solid $color_5 3px;
  border-radius: 50%;
  background-color: $color_1;
}

.checked .circle_out {
  border: solid $color_2 3px;
  background-color: $color_2;
}

.checked .circle_in {
  border: solid $color_1 3px;
  background-color: $color_1;
}

.circle_in {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: $color_5;
}

.price_plan h1 {
  padding: 20px 0;
  color: $color_2;
  font-size: 1.5rem;
  font-weight: 300;
}

.checked h1 {
  color: $color_1;
}

.price_info {
  position: relative;
  width: 110px;
  height: 110px;
  margin-bottom: 40px;
  border: $color_5 1px solid;
  border-radius: 50%;
  font-size: 0.8rem;
}

.checked .price_info {
  color: $color_2;
  background-color: $color_1;
}

.price_info p {
  position: relative;
  top: 15%;
  display: block;
  font-weight: 700;
}

.price_info span {
  vertical-align: top;
  font-size: 2.5rem;
  line-height: 50px;
}

.price_plan > .border > p {
  padding: 5px;
  background-color: $color_6;
}

.price_plan > .border > p:nth-child(2n+1) {
  background-color: $color_7;
}

.checked.price_plan > .border > p:nth-child(2n) {
  background-color: $color_1;
}

.price_plan .button {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.basic .button {
  margin-top: calc(30px + 2 * 36.25px);
}

.checked .button {
  margin-top: calc(30px + 36.25px);
  background-color: $color_1;
}

.checked .button a {
  color: $color_2;
}

body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
}

.application {
  background-color: #f9f9f9;
  padding: 30px 0;
  font-size: 0; // white spaces
}

.application section {
  width: calc(100%/3);
}

.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right {
  text-align: right;
}

.inline {
  display: inline-block;
  width: 300px;
  padding: 14px;
  vertical-align: top;
}

.form {
  margin-top: 50px;
}

.drop_down_list {
  border: 1px solid #8de0d2;
  width: 280px;
  height: 50px;
  background-color: white;
  margin-top: 22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}

.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::after,
.checkbox label::before {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}

.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}

.active {
  width: 48px;
  height: 40px;
}

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part img {
  margin-top: 110px;
  margin-left: 38px;
}

.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0;
}

.summary_panel {
  background-color: white;
  width: 100%;
  height: 195px;
  padding: 10px;
  margin-top: 50px;
}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4,
.panel_right h4 {
  color: #24baa0;
  font-size: 23px;
}

.panel_left span {
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top: 10px;
}

.sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display: block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}

.list_panel li {
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  color: #585858;

  &:hover {
    background-color: rgba($color_2, 0.4);
  }
}

.title {
  height: 30px;
}

.contact .form1 {
  width: 60%;
  text-align: left;
}

.contact .form2 {
  width: 40%;
  text-align: left;
}

fieldset {
  border-color: transparent;
}

input,
textarea {
  display: block;
  width: calc(100% - 30px);
  margin: 20px 0;
  padding: 15px;
  border: 0.5px solid $color_2;
  font-family: inherit;
  font-size: 2.5rem;
}

.uneditable-input:focus,
input:focus,
input[type]:focus,
textarea:focus {
  border-color: $color_2;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba($color_8, 0.075) inset, 0 0 8px rgba($color_2, 0.6);
}

.form2 img {
  margin-right: 10px;
  padding: 3px;
  border: 1px solid $color_2;
}

.form2 img:first-child {
  width: 100%;
  padding: 0 70px 20px;
  border: none;
}

.form2 button,
.form2 img,
.form2 p {
  display: block;
  float: left;
}

.form2 p {
  width: 80%;
  color: $color_5;
  font-size: 1.2rem;
}

#submit {
  width: 100%;
  height: 4rem;
  margin: 20px 0;
  color: $color_1;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 700;
}

.form2 button:after,
.form2 button:before {
  display: table;
  clear: both;
  content: " ";
}

footer p {
  float: left;
  color: $color_9;
  font-size: 1.1rem;
}

footer .logo,
footer img {
  float: right;
}

footer .logo {
  padding: 0 20px 30px;
  color: $color_5;
  font-size: 1.3rem;
}

footer .logo span {
  padding: 0 5px;
  color: $color_9;
  font-weight: 700;
}
