// Color settings

$c0: rgba(0, 0, 0, 0);
$c1: #ffffff;
$c2: #000000;
$c3: #27c7ab;
$c4: #24baa0;
$c5: #f1f1f1;
$c6: #f9f9f9;
$c7: #e4e4e4;
$c8: #c2c2c2;
$c9: #adadad;
$c10: #9b9b9b;
$c11: #939393;
$c12: #575757;
