// Content

.content {
    .flex {
        justify-content: center;

        .space {
            width: 28px;
        }

        .article_box,
        .image_box {
            position: relative;
            height: 100%;
            font-size: 16px;
            line-height: 1.4;
            flex-grow: 1;

            img {
                width: 100%;

                &:hover + h3 {
                    display: none;
                }
            }

            p {
                font-size: 14px;
            }
        }

        .image_box {
            position: relative;
            padding: 30px 0 97px;

            h3 {
                position: absolute;
                top: 180px;
                left: 0;
                width: 100%;
                padding: 16px 0 25px 9px;
                background-color: rgba(255, 255, 255, 0.42);
                font-weight: bold;

                &:before {
                    position: absolute;
                    bottom: 15px;
                    left: 8px;
                    width: 138px;
                    height: 7px;
                    content: "";
                    background-color: $c3;
                }
            }
        }

        .article_box {
            padding: 30px 20px;

            h3 {
                position: relative;
                padding: 30px 0 25px;
                font-weight: bold;

                &:before {
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    width: 138px;
                    height: 7px;
                    content: "";
                    background-color: $c3;
                }
            }
        }
    }
}
